
<footer class="footer">
  <div class="container-fluid">
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}.All Rights Reserved.
      <a href="http://www.techmatesph.com" target="_blank">TechMates IT Consultancy Services</a>.
    </div>
  </div>
</footer>
