<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>EMPLOYEE RECORDS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header card-header-style">
          List of Employee records
        </div><br>
        <div class="card-body">
          <button class="btn btn-outline-primary" (click)="open(content)">Add Employee</button>
          <!-- <div class="row no-gutters">
            <table>
              <tr>
                <td>
                    <div class="form-group">
                        <label for="Firstname"><strong>Employee Name</strong></label>
                        <input required id="employeename" type="text" placeholder="Employee Name" class="form-control">
                      </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="Firstname"><strong>Employee Name</strong></label>
                        <input required id="employeename" type="text" placeholder="Employee Name" class="form-control">
                      </div>
                </td>
                <td><button class="btn btn-outline-primary">Add Employee</button></td>
              </tr>
            </table>
              
            <div class="col-lg-6"></div>
          </div> -->
          <br>
          <div class="table">
            <table class="table">
              <tr class="fruit-head">
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              <tbody>
                <tr class="text-center">
                  <td>201410223</td>
                  <td>Wilinda Dedase</td>
                  <td>Active</td>
                  <td>
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr class="text-center">
                  <td>201410224</td>
                  <td>Michael Lumanta</td>
                  <td>Active</td>
                  <td>
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr class="text-center">
                  <td>201410225</td>
                  <td>John Doe</td>
                  <td>Inactive</td>
                  <td>
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr class="text-center">
                  <td>201410226</td>
                  <td>Jane Doe</td>
                  <td>Resign</td>
                  <td>
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr class="text-center">
                  <td>201410227</td>
                  <td>Rojin Javier</td>
                  <td>Active</td>
                  <td>
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div>Add New Employee</div>
  </div>

  <div class="modal-body">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Firstname"><strong>Employee Name</strong></label>
          <input required id="employeename" type="text" placeholder="Employee Name" class="form-control">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Middlename"><strong>Employee ID</strong></label>
          <input id="employeeid" type="text" placeholder="Employee Id" class="form-control">
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-md-12">
        <div style="float: right">
          <button type="button" class="btn btn-block">Add</button>

        </div>

      </div>
    </div>
  </div>


  <!-- <div class="modal-footer">
    Modal Footer Content
  </div> -->
</ng-template>