<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>MEAL DASHBOARD</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <p style="text-align:right;">{{test | date:'fullDate'}} | {{test | date:'HH:mm a'}}</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header card-header-style">
          EMPLOYEE INFORMATION
        </div>
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="row">
                <div class="col-lg-6">
                  <label for="Firstname"><strong>Employee ID</strong></label>
                  <input required id="Firstname" type="text" placeholder="Employee ID" class="form-control">
                </div>
                <div class="col-lg-6">
                  <label for="Firstname"><strong>Employee Name</strong></label>
                  <input required id="Firstname" type="text" placeholder="Employee Name" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-header card-header-style">
          CURRENT ORDER
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table">
              <tr class="fruit-head">
                <th>Quantity</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>

              <tbody>
                <tr class="text-center">
                  <td>1</td>
                  <td>Vegetable</td>
                  <td>37</td>
                  <td><button type="button" class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" placement="top"><i
                        class="now-ui-icons ui-1_simple-remove"></i>
                    </button></td>
                </tr>
                <tr class="text-center">
                  <td>1</td>
                  <td>Rice</td>
                  <td>8</td>
                  <td><button type="button" class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" placement="top"><i
                        class="now-ui-icons ui-1_simple-remove"></i>
                    </button></td>
                </tr>
                <tr class="text-center">
                  <td>1</td>
                  <td>Soda</td>
                  <td>15</td>
                  <td><button type="button" class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" placement="top"><i
                        class="now-ui-icons ui-1_simple-remove"></i>
                    </button></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align:right;font-weight:bold;font-size:13px;">TOTAL PRICE:</td>
                  <td style="text-align:center;font-weight:bold;font-size:15px;">P60</td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header card-header-style">
          MEAL
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td><button class="btn btn-block">Meat</button></td>
              <td><button class="btn btn-block">Vegetable</button></td>
              <td><button class="btn btn-block">Rice</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-style">
          BEVERAGES
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td><button class="btn btn-block">VitaMilk</button></td>
              <td><button class="btn btn-block">Juice</button></td>
              <td><button class="btn btn-block">Burger</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-block">Yakult</button></td>
              <td><button class="btn btn-block">Tea</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-style">
          SIDEMEAL
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td><button class="btn btn-block">Salad</button></td>
              <td><button class="btn btn-block">Burger</button></td>
              <td><button class="btn btn-block">Fries</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-block">Fries</button></td>
              <td><button class="btn btn-block">Egg Sandwich</button></td>
              <td><button class="btn btn-block">Hotdog Sandwich</button></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- <div class="card">
            <div class="card-header card-header-style">
              MENU
            </div>
            <div class="card-body text-center">
                <div class="table">
                    <table class="table">
        
                      <tr class="fruit-head">
                        <th>Meal</th>
                        <th>Beverages</th>
                        <th>Sidemeals</th>
                      </tr>
        
                      <tbody>
                        <tr >
                          <td><button class="btn btn-block" >Vegetable</button></td>
                          <td><button class="btn btn-block" >Soda</button></td>
                          <td><button class="btn btn-block" >Salad</button></td>
                        </tr>
                        <tr >
                          <td><button class="btn btn-block" >Meat</button></td>
                          <td><button class="btn btn-block" >Juice</button></td>
                          <td><button class="btn btn-block" >Burger</button></td>
                        </tr>
                        <tr >
                          <td><button class="btn btn-block" >Rice</button></td>
                          <td><button class="btn btn-block" >VitaMilk</button></td>
                          <td><button class="btn btn-block" >Egg Sandwich</button></td>
                        </tr>
                        <tr >
                          <td></td>
                          <td><button class="btn btn-block" >Yakult</button></td>
                          <td><button class="btn btn-block" >Hotdog Sandwich</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
          </div> -->
    </div>
  </div>
  <div class="row">

    <div class="col-lg-6">
      <!-- <div class="card">
          <div class="card-header card-header-style">
            MENU
          </div>
          <div class="card-body text-center">
              <div class="table">
                  <table class="table">
      
                    <tr class="fruit-head">
                      <th>Meal</th>
                      <th>Beverages</th>
                      <th>Sidemeals</th>
                    </tr>
      
                    <tbody>
                      <tr >
                        <td><button class="btn btn-block" >Vegetable</button></td>
                        <td><button class="btn btn-block" >Soda</button></td>
                        <td><button class="btn btn-block" >Salad</button></td>
                      </tr>
                      <tr >
                        <td><button class="btn btn-block" >Meat</button></td>
                        <td><button class="btn btn-block" >Juice</button></td>
                        <td><button class="btn btn-block" >Burger</button></td>
                      </tr>
                      <tr >
                        <td><button class="btn btn-block" >Rice</button></td>
                        <td><button class="btn btn-block" >VitaMilk</button></td>
                        <td><button class="btn btn-block" >Egg Sandwich</button></td>
                      </tr>
                      <tr >
                        <td></td>
                        <td><button class="btn btn-block" >Yakult</button></td>
                        <td><button class="btn btn-block" >Hotdog Sandwich</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
        </div> -->
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-lg-4">
      <div class="card ">
        <div class="card-header card-header-style">
          Meal
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header" class="mealHeader">
                  SET A
                </div>
                <div class="card-body">
                  Rice + Meat
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header" class="mealHeader">
                  SET B
                </div>
                <div class="card-body">
                  Rice + Veggie
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header" class="mealHeader">
                  SET C
                </div>
                <div class="card-body">
                  Rice + Veggie + Meat
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header" class="mealHeader">
                  Extra
                </div>
                <div class="card-body">
                  Rice
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card ">
        <div class="card-header card-header-style">
          beverages
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-header" class="mealHeader">
                  Soda
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-header" class="mealHeader">
                  Yakult
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-header" class="mealHeader">
                  VitaMilk
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-header" class="mealHeader">
                    Juice
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-header" class="mealHeader">
                    Milk
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-header" class="mealHeader">
                    Water
                  </div>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-lg-12">
              Others please specify:<br>
              <table>
                <tr>
                  <th>Name:</th>
                  <td><input type="text"></td>
                </tr>
                <tr>
                  <th>Price:</th>
                  <td><input type="number"></td>
                </tr>
                <tr>
                  <th>Quantity:</th>
                  <td><input type="number"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card ">
        <div class="card-header card-header-style">
          sidemeals
        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-header" class="mealHeader">
                      Sandwich
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-header" class="mealHeader">
                      Burger
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-header" class="mealHeader">
                      Salad
                    </div>
                  </div>
                </div>
              </div>
  
            <div class="row">
              <div class="col-lg-12">
                Others please specify:<br>
                <table>
                  <tr>
                    <th>Name:</th>
                    <td><input type="text"></td>
                  </tr>
                  <tr>
                    <th>Price:</th>
                    <td><input type="number"></td>
                  </tr>
                  <tr>
                    <th>Quantity:</th>
                    <td><input type="number"></td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="card ">
        <div class="card-header card-header-style">
          CURRENT ORDER
        </div>

        <div class="card-body ">
          <div class="table-responsive">
            <table class="table">

              <tr class="fruit-head">
                <th>Quantity</th>
                <th>Category</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>

              <tbody>
                <tr class="text-center">
                  <td>1</td>
                  <td>Meal</td>
                  <td>Set B</td>
                  <td>37</td>
                  <td><img src="../../assets/img/x.png" height="10px;" width="10px;"></td>
                </tr>
                <tr class="text-center">
                  <td>1</td>
                  <td>Meal</td>
                  <td>Extra Rice</td>
                  <td>8</td>
                  <td><img src="../../assets/img/x.png" height="10px;" width="10px;"></td>
                </tr>
                <tr class="text-center">
                  <td>1</td>
                  <td>Beverages</td>
                  <td>Soda</td>
                  <td>15</td>
                  <td><img src="../../assets/img/x.png" height="10px;" width="10px;"></td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align:right;font-weight:bold;font-size:15px;">TOTAL PRICE:</td>
                  <td style="text-align:center;font-weight:bold;font-size:15px;">60</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>