<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>USER ACCOUNTS</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="card ">
        <div class="card-header card-header-style">
          CREATE NEW ACCOUNT
        </div>
        
        <div class="card-body ">
          <!-- Name Row -->
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="form-group">
                <label for="Firstname"><strong>Firstname</strong></label>
                <input required id="Firstname" type="text" placeholder="Firstname" class="form-control">
              </div> <!-- ./Firstname -->
            </div> <!-- ./col -->

            <div class="col-md-4">
              <div class="form-group">
                <label for="Middlename"><strong>Middlename</strong></label>
                <input id="Middlename" type="text" placeholder="Middlename" class="form-control">
              </div> <!-- ./Middlename -->
            </div> <!-- ./col -->

            <div class="col-md-4">
              <div class="form-group">
                <label for="Lastname"><strong>Lastname</strong></label>
                <input required id="Lastname" type="text" placeholder="Lastname" class="form-control">
              </div> <!-- ./Lastname -->
            </div> <!-- ./col -->

            <br>

            <div class="row no-gutters">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="contactnum"><strong>Department</strong></label>
                  <input required id="contactnum" type="text" placeholder="Department" class="form-control">
                </div> <!-- ./Department -->
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="BadgeNumber"><strong>Position</strong></label>
                  <input required id="BadgeNumber" type="text" placeholder="Position" class="form-control">
                </div> <!-- ./Position -->
              </div>
            </div> <!-- /. Row -->
            <br>
            <div class="row no-gutters">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Username"><strong>Username</strong></label>
                  <input required id="Username" type="text" placeholder="Username" class="form-control">
                </div> <!-- ./Username-->
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="Password"><strong>Password</strong></label>
                  <input required id="Password" type="password" placeholder="Password" class="form-control">
                </div> <!-- ./Password -->
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="ConfirmPassword"><strong>Confirm Password</strong></label>
                  <input required id="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control">
                </div> <!-- ./Confirm Password -->
              </div>
            </div>
          </div>
          <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <div style="float: right">
                      <button type="button" class="btn btn-block" >Create Account</button>
                      <!-- <button type="button" class="btn btn-block" style="border: solid 1px rgb(1,11,66);background-color:white;color:rgb(1,11,66);">Block This User</button> -->
                      <!-- <button type="button" class="btn btn-danger" >Delete This User</button> -->
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header card-header-style">
                REGISTERED USERS
              </div>
          <div class="card-body">
            <table class="table table-sm ">
              <thead>
                <th class="text-center">NAME</th>
                <th class="text-center">USERNAME</th>
                <th class="text-center">PASSWORD</th>
                <th class="text-center">ACTION</th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">John Doe</td>
                  <td class="text-center">john doe</td>
                  <td class="text-center">123</td>
                  <td class="text-center">
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>

</div>