<div class="logo">
  <img src="../../../assets/img/lindberglogo.png" alt="">
</div><br>
<!-- <div class="logo">
  <p style="font-family:Futura;letter-spacing:17px;text-align:center">LINDBERG</p><span></span>
</div>
<br><br><br> -->
<div class="sidebar-wrapper" >
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a [routerLink]="[menuItem.path]">
              <i class="now-ui-icons {{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
  </ul>
</div>
