
<div class="main-content"  style="background-color:rgb(247,247,247);">
  <br><br><br><br><br><br>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" >
    <div class="card text-center">
      <div class="card-header">
        <h4 style="color:rgb(1,11,66);font-family: Futura;font-weight:bold;letter-spacing:6px;">LINDBERG AG-A4 BRANCH</h4>
      </div>
      <form (submit)="signIn($event);">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" style="color:rgb(1,11,66);">
                    <input type="password" placeholder="Password" class="form-control">
                  </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn-lg " style="background-color:rgb(1,11,66);font-family: Futura;letter-spacing:6px;">LOGIN</button><br>
      </form>
      <!-- <a href="/dashboard" class="btn btn-info btn-lg " role="button" aria-disabled="true" style="background-color:rgb(1,11,66);font-family: Futura;letter-spacing:6px;">LOGIN</a><br> -->
      <!-- <div class="card-footer text-muted mb-2">
              2 days ago
            </div> --><br>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>
</div>