<div class="panel-header panel-header-sm">
  </div>
  <!-- <br><br><br><br><br> -->
  <div class="main-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card page-title">
          <div class="card-header">
            <p>CANTEEN MENU ITEMS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card ">
          <div class="card-header card-header-style">
            ADD NEW ITEM
          </div>
          
          <div class="card-body ">
            <!-- Name Row -->
            <div class="row no-gutters">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="Firstname"><strong>Item Name</strong></label>
                  <input required id="schedule" type="text" placeholder="Item Name" class="form-control">
                </div> <!-- ./Firstname -->
              </div> <!-- ./col -->
  
              <br>
  
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contactnum"><strong>Price</strong></label>
                    <input required id="fromtime" type="number" placeholder="Price" class="form-control">
                  </div> <!-- ./Department -->
                </div>
  
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="BadgeNumber"><strong>Category</strong></label>
                    <input required id="totime" type="text" placeholder="Category" class="form-control">
                  </div> <!-- ./Position -->
                </div>
              </div> <!-- /. Row -->
  
              <br>
  
              </div>
            
            <div class="card-footer">
                <div class="row">
                  <div class="col-md-12">
                    <div style="float: right">
                        <button type="button" class="btn btn-block" >Add Item</button>
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-header card-header-style">
                  CURRENT ITEMS ON MENU
                </div>
            <div class="card-body">
              <table class="table table-sm ">
                <thead>
                  <th class="text-center">CATEGORY</th>
                  <th class="text-center">NAME</th>
                  <th class="text-center">PRICE</th>
                  <th class="text-center">ACTION</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">Meal</td>
                    <td class="text-center">Meat</td>
                    <td class="text-center">P30</td>
                    <td class="text-center">
                      <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Meal</td>
                    <td class="text-center">Vegetable</td>
                    <td class="text-center">P25</td>
                    <td class="text-center">
                      <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Meal</td>
                    <td class="text-center">Rice</td>
                    <td class="text-center">P8</td>
                    <td class="text-center">
                      <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Beverages</td>
                    <td class="text-center">Soda</td>
                    <td class="text-center">P15</td>
                    <td class="text-center">
                      <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Beverages</td>
                    <td class="text-center">Yakult</td>
                    <td class="text-center">P12</td>
                    <td class="text-center">
                      <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Sidemeal</td>
                    <td class="text-center">Burger</td>
                    <td class="text-center">P15</td>
                    <td class="text-center">
                      <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  