<div class="panel-header panel-header-sm">
</div>
<!-- <br><br><br><br><br> -->
<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>FREE MEAL SCHDULE</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card ">
        <div class="card-header card-header-style">
          SET FREE MEAL SCHEDULE
        </div>
        
        <div class="card-body ">
          <!-- Name Row -->
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Firstname"><strong>Date Schedule</strong></label>
                <input required id="schedule" type="date" placeholder="Date Schedule" class="form-control">
              </div> <!-- ./Firstname -->
            </div> <!-- ./col -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="Firstname"><strong>Free Meal Cost</strong></label>
                <input required id="cost" type="text" placeholder="Cost" class="form-control">
              </div> <!-- ./Firstname -->
            </div> <!-- ./col -->

            <br>

            <div class="row no-gutters">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="contactnum"><strong>From</strong></label>
                  <input required id="fromtime" type="time" placeholder="From time" class="form-control">
                </div> <!-- ./Department -->
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="BadgeNumber"><strong>To</strong></label>
                  <input required id="totime" type="time" placeholder="To time" class="form-control">
                </div> <!-- ./Position -->
              </div>
            </div> <!-- /. Row -->

            <br>

            
              <div class="col-md-12">
                <div class="form-group">
                  <label for="Username"><strong>Note</strong></label>
                  <!-- <textarea required id="note" type="text" placeholder="note" class="form-control"></textarea> -->
                  <input required id="totime" type="text" placeholder="Note" class="form-control" height="50px;">
                </div> <!-- ./Username-->
              </div>
            </div>
          
          <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <div style="float: right">
                      <button type="button" class="btn btn-block" >Set Schedule</button>
                      <!-- <button type="button" class="btn btn-block" style="border: solid 1px rgb(1,11,66);background-color:white;color:rgb(1,11,66);">Block This User</button> -->
                      <!-- <button type="button" class="btn btn-danger" >Delete This User</button> -->
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-style">
                FREE MEAL SCHEDULES
              </div>
          <div class="card-body">
            <table class="table table-sm table-striped">
              <thead>
                <th class="text-center">DATE</th>
                <th class="text-center">AMOUNT</th>
                <th class="text-center">TIME</th>
                <th class="text-center">NOTE</th>
                <th class="text-center">ACTION</th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">December 10, 2018</td>
                  <td class="text-center">P60</td>
                  <td class="text-center">8:00AM-12:00PM</td>
                  <td class="text-center">Note sample</td>
                  <td class="text-center">
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">December 12, 2018</td>
                  <td class="text-center">P60</td>
                  <td class="text-center">10:00AM-12:00PM</td>
                  <td class="text-center">Note sample</td>
                  <td class="text-center">
                    <button type="button" 
                            class="btn  btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons 
                            ui-1_settings-gear-63"></i>
                    </button>
                    <button type="button" 
                            class="btn btn-danger btn-round btn-default no-caret btn-icon btn-sm" 
                            placement="top" 
                            ><i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

