<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>FRUITS SUBSIDY REPORT</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header card-header-style">

          Today Fruit Summary Report
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-8">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>SELECT CUT-OFF</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item">November 26, 2018 - Today</button>
                      <button class="dropdown-item">November 11, 2018 - November 25, 2018</button>
                      <button class="dropdown-item">October 26, 2018 - November 10, 2018</button>
                      <button class="dropdown-item">October 10, 2018 - October 25, 2018</button>
                    </div>
                    <button class="btn btn-info" style="background-color:rgb(1,11,66);font-family: Futura;letter-spacing:2px;">GENERATE
                      EXCEL</button>
                    <button class="btn btn-info" style="background-color:rgb(1,11,66);font-family: Futura;letter-spacing:4px;">PRINT</button>
                  </div>
                </div>
                <div class="col-lg-4">
                  <form>
                    <div class="input-group no-border justify-content-end">
                      <input type="text" value="" class="form-control" placeholder="Search..." style="border-color:rgb(1,11,66)">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="table">
            <table class="table">
              <tr class="fruit-head">
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Time</th>
              </tr>
              <tbody>
                <tr class="text-center">
                  <td>201410223</td>
                  <td>Wilinda Dedase</td>
                  <td>12:10:01pm</td>
                </tr>
                <tr class="text-center">
                  <td>201410224</td>
                  <td>Michael Henry Lumanta</td>
                  <td>12:20:11pm</td>
                </tr>
                <tr class="text-center">
                  <td>201410222</td>
                  <td>John Doe</td>
                  <td>12:20:11pm</td>
                </tr>
                <tr class="text-center">
                  <td>201410230</td>
                  <td>Jane Doe</td>
                  <td>12:20:11pm</td>
                </tr>
                <!-- <tr class="text-center">
                  <td colspan="2">TOTAL NUMBER OF FRUITS DSTRIBUTED:</td>
                  <td>4</td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <div class="row">
            <!-- <div class="col-lg-4"></div> -->
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
              <table>
                <tr class="text-center">
                  <td style="font-weight:bold;">TOTAL NUMBER OF FRUITS DSTRIBUTED:</td>
                  <td style="font-weight:bold;font-size:17px;">234</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>