<div class="wrapper">
  <div class="sidebar" data-color="lindbergBlue">
      <app-fruitsidebar></app-fruitsidebar>
  </div>
  <div class="main-panel">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
  </div>
</div>