<div class="panel-header panel-header-sm"></div>


<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>FRUITS SUBSIDY DASHBOARD</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
        <div class="card ">
            <div class="card-header card-header-style">
              List of Employee who took their fruits today
            </div>
    
            <div class="card-body ">
              <div class="table">
                <table class="table">
    
                  <tr class="fruit-head">
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Time</th>
                  </tr>
    
                  <tbody>
                    <tr class="text-center">
                      <td>201410223</td>
                      <td>Wilinda Dedase</td>
                      <td>12:10:01pm</td>
                    </tr>
                    <tr class="text-center">
                      <td>201410224</td>
                      <td>Michael Henry Lumanta</td>
                      <td>12:20:11pm</td>
                    </tr>
                    <tr class="text-center">
                      <td>201410222</td>
                      <td>John Doe</td>
                      <td>12:20:11pm</td>
                    </tr>
                    <tr class="text-center">
                      <td>201410230</td>
                      <td>Jane Doe</td>
                      <td>12:20:11pm</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header card-header-style"> 
          EMPLOYEE INFORMATION  
        </div>
        <div class="card-body">
            <label for="Firstname"><strong>Employee ID</strong></label>
            <input required id="employeeid" type="text" placeholder="Employee ID" class="form-control">
            <label for="Firstname"><strong>Employee Name</strong></label>
            <input required id="employeename" type="text" placeholder="Employee Name" class="form-control">
        </div>
      </div>
      <div class="card ">
          <div class="card-header card-header-style">
            Total of fruits distributed today
          </div>
          <div class="card-body ">
           <h2 class="text-center">34</h2>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <!-- <div class="col-lg-8">
      <div class="card ">
        <div class="card-header card-header-style">
          List of Employee who took their fruits today
        </div>

        <div class="card-body ">
          <div class="table-responsive">
            <table class="table">

              <tr class="fruit-head">
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Time fruit has been taken</th>
              </tr>

              <tbody>
                <tr class="text-center">
                  <td>201410223</td>
                  <td>Wilinda Dedase</td>
                  <td>12:10:01pm</td>
                </tr>
                <tr class="text-center">
                  <td>201410224</td>
                  <td>Michael Henry Lumanta</td>
                  <td>12:20:11pm</td>
                </tr>
                <tr class="text-center">
                  <td>201410222</td>
                  <td>John Doe</td>
                  <td>12:20:11pm</td>
                </tr>
                <tr class="text-center">
                  <td>201410230</td>
                  <td>Jane Doe</td>
                  <td>12:20:11pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-lg-4">
      <div class="card ">
        <div class="card-header card-header-style">
          Total of fruits distributed today
        </div>
        <div class="card-body ">
         <h2 class="text-center">34</h2>
        </div>
      </div>
    </div> -->
  </div>

</div>